{% extends 'back.html.twig' %}

{% block title %}
    {{ deck.title }}
{% endblock %}

{% block body %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-200"><i class="fas fa-layer-group"></i> {{ deck.title }}</h1>
        <div class="d-sm-inline-block">
            <a href="{{ path('planeswalkers.deck.index') }}" class="btn btn-sm btn-secondary shadow-sm">
                <i class="fas fa-reply fa-sm text-white-50"></i>
            </a>
            <form method="post" style="display:inline-block;"action="{{ path('planeswalkers.deck.delete', {id: deck.id}) }}" onsubmit="return confirm('Êtes-vous sûr ?')">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete_deck') }}">
                <button class="btn btn-sm btn-danger" title="Supprimer ce deck"><i class="fas fa-trash fa-sm text-white-50"></i> Supprimer ce deck</button>
            </form>
        </div>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('planeswalkers.deck.index') }}">Mes decks</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ deck.title }}</li>
        </ol>
    </nav>

    <hr>

    <div class="row">
        <div class="col-md-9">

            {# Ajout de carte #}
            <div class="card shadow mb-4">
                <div class="card-body">
                    <form action="{{ path('planeswalkers.deckcard.new', {deck : deck.id}) }}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="deck" value="{{ deck.id }}">
                        <div class="row">
                            <div class="col-lg-8 col-xl-5">
                                <div class="autocomplete_area my-1">
                                    <input type="hidden" id="id_scryfall" name="id_scryfall">
                                    <div class="input-group">
                                        <input id="deck_card_search" name="deck_card_search" class="form-control form-control-sm" placeholder="Rechercher une carte..." type="search" autocomplete="off">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                                        </div>
                                    </div>
                                    <div id="deck_card_search_results" class="autocomplete_search_results" style="display:none;">
                                        <div id="deck_card_search_cards"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xl-2">
                                <div class="input-group input-group-sm my-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Quantité</span>
                                    </div>
                                    <input id="quantite" placeholder="Quantité" name="quantite" type="number" lang="en" min="1" step="1" value="1" class="form-control form-control-sm" required>
                                </div>
                            </div>
                            <div class="col-lg-1 col-xl-1">
                                <div class="input-group my-1">
                                    <button class="btn btn-sm btn-success" type="submit">
                                        <i class="fas fa-plus"></i> <span class="d-lg-none d-xl-inline-block">Ajouter</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            {# Contenu du deck #}
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="row">
                        {% for deck_card in deck_cards %}
                            <div class="deck-card-area col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                <div class="py-3">
                                    <img src="{{ deck_card.card.imageUrisNormal }}" alt="{{ deck_card.card.name }}" class="img-fluid" style="border-radius:15px;">
                                    <div class="input-group input-group-sm mb-3">
                                        <input type="number" min="0" step="1" class="form-control form-control-sm input-deckcard-quantite" data-deckcard="{{ deck_card.id }}" name="quantite" value="{{ deck_card.quantite }}" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <a class="text-danger input-deckcard-delete" title="Supprimer cette carte" data-deckcard="{{ deck_card.id }}" style="cursor:pointer;">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            {# Légalité #}
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <div class="h6 m-0 font-weight-bold text-light">Légalités</div>
                </div>
                <div class="card-body">
                </div>
            </div>

            {# Couleur #}
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <div class="h6 m-0 font-weight-bold text-light">Couleur</div>
                </div>
                <div class="card-body">
                </div>
            </div>

            {# Budget #}
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <div class="h6 m-0 font-weight-bold text-light">Budget</div>
                </div>
                <div class="card-body">
                </div>
            </div>

            {# Commentaires #}
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <div class="h6 m-0 font-weight-bold text-light">Commentaires</div>
                </div>
                <div class="card-body">
                    {{ deck.content|raw }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        // Modification de la quantité en live
        $(document).on('mouseout', '.input-deckcard-quantite', function (event) {
            let deckcard = $(this);
            let parametres = {
                deckcard: $(this).data('deckcard'),
                quantite: deckcard.val(),
            };
            $.ajax({
                url: "{{ path('planeswalkers.deckcard.ajax.quantite') }}",
                type: 'post',
                dataType: 'json',
                beforeSend: function () {
                    $('#saving-area').fadeIn();
                },
                success: function (data) {
                    if(data.delete == true){
                        deckcard.closest('.deck-card-area').remove();
                    }
                },
                complete: function () {
                    $('#saving-area').fadeOut();
                },
                data: parametres
            });
        });
        // Suppression d'une carte en live
        $(document).on('click', '.input-deckcard-delete', function (event) {
            let deckcard = $(this);
            let parametres = {
                deckcard: $(this).data('deckcard'),
                quantite: 0,
            };
            $.ajax({
                url: "{{ path('planeswalkers.deckcard.ajax.quantite') }}",
                type: 'post',
                dataType: 'json',
                beforeSend: function () {
                    $('#saving-area').fadeIn();
                },
                success: function (data) {
                    if(data.delete == true){
                        deckcard.closest('.deck-card-area').remove();
                    }
                },
                complete: function () {
                    $('#saving-area').fadeOut();
                },
                data: parametres
            });
        });

        /**
         * Moteur de recherche de cartes
         */
        // Lance la recherche si l'utilisateur n'a pas saisie depuis 500ms
        $('#deck_card_search').keyup(function () {
            clearTimeout($.data(this, 'timer'));
            let wait = setTimeout(searchCards, 500);
            $(this).data('timer', wait);
        });

        // Recherche de carte
        function searchCards() {
            var nb_caractere_debut_recherche = 3;
            if ($('#deck_card_search').val().length >= nb_caractere_debut_recherche) {
                let parametres = {
                    term: $('#deck_card_search').val().replace(' ', '+'), // Terme à rechercher
                };
                $.ajax({
                    url: "{{ path('planeswalkers.card.search') }}",
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {
                        $('#loader-area').fadeIn();
                    },
                    success: function (data) {
                        $('#deck_card_search_results').show();
                        let results_html = '';
                        $.each(data.cards.data, function (index, element) {
                            results_html = results_html + '<div class="autocomplete_result">';
                            results_html = results_html + '<a class="autocomplete_choice autocomplete_deck_card_choice"';
                            results_html = results_html + ' data-card-id="' + element.id + '"';
                            results_html = results_html + ' data-card-name="' + element.name + '"';
                            results_html = results_html + '>';
                            results_html = results_html + element.name;
                            results_html = results_html + '</a>';
                            results_html = results_html + '</div>';
                        });
                        results_html = results_html + '</div>';
                        $('#deck_card_search_cards').html(results_html);
                    },
                    complete: function () {
                        $('#loader-area').fadeOut();
                    },
                    data: parametres
                });
            }
        }

        // Action lors du choix d'une carte
        $(document).on('click', '.autocomplete_deck_card_choice', function (event) {
            let card_id = $(this).data('card-id');
            let card_name = $(this).data('card-name');
            $('#id_scryfall').val(card_id);
            $('#deck_card_search').val(card_name);
            $('#deck_card_search_results').hide();
        });

        // Ferme les résultats d'autocomplétion lors d'un clic à l'extérieur de cet élement
        $(document.body).click(function (e) {
            let div_cliquable = $('.autocomplete_area');
            if (!$(e.target).is(div_cliquable) && !$.contains(div_cliquable[0], e.target)) {
                $('#deck_card_search_results').hide();
            }
        });

    </script>
{% endblock %}