{% extends 'email.html.twig' %}

{% block body %}

    <p>Bonjour {{ destinaire.firstname }} {{ destinaire.lastname }},</p>

    <ul>
        <li>Prénom : {{ contact.firstname }}
        <li>Nom : {{ contact.lastname }}
        <li>Téléphone : {{ contact.phone }}
        <li>Email : {{ contact.email }}
        <li>Message : {{ contact.message | nl2br }}
    </ul>

{% endblock %}